<div class="nav_bar_container" >
    <nav class="nav_bar">
        <li class="nav_item"><a id="a0" href="/src/templates/index.html">Home</a></li>
        <li class="nav_item"><a id="a1" href="/src/templates/services.html">Services</a></li>
        <li class="nav_item"><a id="a2" href="/src/templates/portfolio.html">Portfolio</a></li>
        <li class="nav_item"><h1>wds</h1></li>
        <li class="nav_item"><a id="a3" href="/src/templates/team.html">Our Team</a></li>
        <li class="nav_item"><a id="a4"href="/src/templates/blogs.html">Our Blog</a></li>
        <li class="nav_item"><a  id="a5"href="/src/templates/contact.html">Contact us</a></li>
    </nav>
    <button type="button" class="toggle_icon_button">
        <span class="toggle_icon"></span>
    </button>
</div>