#a1{
    color: var(--main-blue-color);
}

.nav_item > h1{
    color: #ffffff;
}
.nav_item a:hover{
    text-decoration: none;
    color: var(--main-blue-color);
}
.default_title{
    font-size: 37px;
}
.default_container{
    padding: 0;
    width: 80%;
    padding-bottom: 10%;
}
.default_text_container{
    padding: 5%;
    width: 80%;
    margin-right: 11.9%;
}

.grid_container h3{
    font-weight: 300;
}
.custom_col{
    margin-top: 5%;
}
.text_inside_col{
    padding: 0 15%;
}
.text_inside_col p{
    margin-bottom: 0.5rem;
}
.text_inside_col{
    background-image: url("../assets/gmap-pin.png");
    background-repeat: no-repeat;
    background-position: -0 0;
}

.text_inside_col a{
    color: #606060;
    text-decoration: underline;
}

.text_inside_col a:hover{
    color: var(--main-blue-color);
    text-decoration: none;
}

.row_custom{
    width: 80%;
    margin: auto;
}

.toggle_icon_button{
    display: none;
}



@media (max-width: 800px){
    .toggle_icon_button{
        background-color: black !important;
    }
    .custom_col{
        margin-top: 10%;
    }
}